Book1.xlsx
*.pdf
__pycache__/
log/
test/
*.png
*.gif
last
*.swp
*log.txt
*meta.txt
*meta.yaml
*progress.csv
*.zip
*.h5

# Parameter sweep scripts.
sweeps/
# Code for checking how Python works.
sandbox/
# Directory of links to each source directory. Useful with grep.
all_src/
# Symlinks to important trained agents.
agents/
